footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: $secondary;
	text-align: center;
	color: $primary;
	
	.socials {
		width: 100%;
	}

	a {
		margin: 15px 10px;
		transition: color $default-transition;
		&:hover {
			color: $accent;
		}	
	}
	.socials {
		margin-top: 40px;
		font-size: 3.0rem;
	}
	img {
		margin: 40px 0 10px;
	}
	nav a {
		display: block;
	}
	p {
		color: #acacac;
		font-size: 1.2rem;
		margin-top: 30px;
		a {
			color: $primary;
			margin: 0;
			
		}
	}
}

@media (min-width: $bp-sm) {
	nav ul {
		display: flex;
		a {
			margin: 0 20px;
		}
	}
}

@media (min-width: $bp-md) {
	footer {
		position: relative;
		.container {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 90px;
		}
		img {
			margin: 0;
			width: 150px;
			position: absolute;
			left: 7%;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}