$header-font: 'Roboto', sans-serif;
$body-font: 'Open Sans', sans-serif;

$default-transition: 100ms ease-in-out;

$primary: #775ce5;
$secondary: #E5E3ED;
$accent: #A89CD8;

$bp-sm: 600px;
$bp-md: 900px;
$bp-lg: 1250px;

// test